version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - DATABASE_URL=postgresql://deploy:Hackconcat36@host.docker.internal:5432/theme_editor
      - NEXTAUTH_URL=https://toolbmt.com
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
    networks:
      - app-network

volumes:
  caddy_data:
  caddy_config:

networks:
  app-network:
    driver: bridge
