version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - DATABASE_URL=postgresql://deploy:Hackconcat36@host.docker.internal:5432/theme_editor
      - NEXTAUTH_URL=https://geekgolfers.com
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3033:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
